body {
	background: #f9e933;
	font-family: 'Denk One', sans-serif;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
}

main .left, footer .contact {
	float: left;
	width: 570px;
}
header nav, main .right, footer .sitemap {
	float: right;
	width: 285px;
}


main .container {
	overflow: hidden;
}


main {
	background: white;
}


.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: #eee;
}

footer .sitemap .left {
	float: left;
}

footer .sitemap .right {
	float: right;
}


footer .contact p:nth-child(2) {
  color: #b33;
  font-style: italic;
}

h2, h4, h6 {
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: #f00;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
    color: #FF00FF;
    text-decoration: underline;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-size: 3em;
	color: #b33;
	float: left;
	width: 570px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    color: #999;;
    background: #ddd;
    padding: 5px;
    margin: 20px 0 10px 0;
}

h3:first-child {
    margin-top: 0;
}

h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}

